body {
    left: 0;
    top: 0;
    width: 98%;
    height: 98%;
    background-image: url(../img/Background.jpg);
    overflow-y: hidden;
}

text-area {
    width: 100%;
    resize: none;
}

.content {
    text-align: center;
}

header {
    margin-top: 10px;
    float: left;
    height: 20px;
    width: 98%;
    padding: 1%;
    border: 3px solid silver;
    border-radius: 6px;
    background-color: ghostwhite;
}

#footer {
    left: 0;
    bottom: 0;
    border: 3px solid silver;
    width: 98%;
    height: 20px;
    padding: 10px;
    position: fixed;
    background-color: ghostwhite;
}

a {
    color: #181e15;
    text-decoration: none;
}

a:hover {
    color: #6b2564;
}

#logo {
    font-size: 1.5em;
    font-family: Lucida, sans-serif​;
}

#logo:hover {
    font-family: Times New Roman, serif;
    color: #1921b7;
}

.center {
    margin-left: 30%;
}

.left {
    float: left;
}

.right {
    margin-right: 10px;
    float: right;
}

#main_block {
    display: block;
    width: 30%;
    float: left;
    margin-top: 100px;
    border: 3px solid silver;
    border-radius: 3px;
    height: 90px;
    background-color: ghostwhite;

}

#main_block {
    background-color: ghostwhite;
    float: left;
    border-radius: 8px;
    width: 20%;
    margin-left: 2%;
    margin-top: 100px;
    height: 300px;
    border: 3px solid silver;

}

.button_style {
    margin-top: 5px;
    padding: 1%;
    float: right;
    border-radius: 5px;
    color: #471d43;
    background-color: floralwhite;
}

#download_link_block {

    float: right;
    height: 500px;
    border: 3px solid silver;
    width: 20%;
    margin-top: 20px;
    background-color: ghostwhite;

}

/*ПОПАП ВСПЛЫВАЮЩЕЕ ОКНО*/

button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.blue_btn {
    background-color: #55acee;
    box-shadow: 0px 5px 0px 0px #3C93D5;
}

.overplay_popup {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #000;
    opacity: 0.5;
}

#feedback_button {
    border-radius: 3px;
}

.popup {
    display: none;
    position: relative;
    z-index: 1000;
    margin: 0 25% 0 25%;
    width: 50%;
}

.object {
    width: 400px;
    height: 300px;
    text-align: center;
    background-color: #e8dd10;
    padding: 50px 70px;
    border-radius: 7px;
}

.video_block {
    display: none;
    margin-top: 15%;
    margin-right: 15%;
    float: right;
    width: 30%;
    height: 400px;
}

/*ПОПАП ВСПЛЫВАЮЩЕЕ ОКНО*/